.dimmed-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, 0.7);
  z-index: 9999;
}

.order-type-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 10000;
  & > p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

.type-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  & a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & img {
      width: 100px;
      height: auto;
      margin-bottom: 15px;
    }
    & > p {
      font-weight: 600;
      margin-bottom: 15px;
    }
    & span {
      border-radius: 15px;
      background-color: rgb(48, 48, 48);
      padding: 5px 15px;
      color: white;
    }
  }
}
